<h1><%= @dish.name %></h1>
<h2>Chef: <%= @dish.chef.name %></h2>
<h3>Ingredients:</h3>
<ul>
  <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>
<h4>Total calories: <%= @dish.ingredients.total_cals %></h4>
